*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: rebeccapurple;
    width: 100px;
    height: 100px;
    box-shadow: 10px 10px 10px red;
}

