/* p{
    color: red;
}

.text{
    color: green;
}

#text1{
    color: blue;
} */

 /* .card{
    color: red;
    font-size: 30px;
    font-family: sans-serif;
} */

/* .card{
  border: 5px solid green;
} */

#text1{
    color: green;
    font-size: 30px;
}

.text{
    color: blue;
    font-size: 20px;
}


